@use '../../scss/settings' as *;

.softly-login {
  @include flex(column, center, center);
  @include size(100%);

  &__form {
    @include flex(column, center, flex-end);
  }

  > p {
    @include font(20px, 26px);
    font-family: Bodoni;
    padding-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__redirect {
    @include flex(row, center, center);
    > p {
      opacity: 50%;
    }
    > a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      margin-left: 8px;
    }
  }
}
