.button {
  width: 150px;
  height: 44px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  border-width: thin;
  background-color: var(--primary);
  font-family: "Orqquidea-Sans_(DEMO)";
  flex-shrink: 1;
}
.button--red {
  border-color: red;
  color: red;
}
.button--regular {
  border-color: black;
  color: black;
}
.button--white {
  border-width: 0px;
  color: black;
}
.button--see-more {
  color: #00261c;
  border-width: 0px;
  font-family: "Bodoni 72";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 18px;
}
.button--load-more {
  width: 150px;
  height: 70px;
  color: #00261c;
  border-width: 0px;
  font-family: "Bodoni 72";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px 0px 10px;
}
.button--sort-by {
  color: #00261c;
  border-width: 0px;
  font-family: "Bodoni 72";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 22px 0px 24px;
}
.button--login {
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  color: var(--secondary);
  border-bottom: 5px solid var(--softPink);
  width: 60px;
  height: 40px;
  font-family: var(--font);
  padding-right: 0px;
  text-align: end;
  /* text-decoration: 5px solid var(--softPink) underline; */
}

.button--menu-burger {
  text-align: end;
  width: 80px;
  border: none;
}
