button {
  width: 150px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  border-width: thin;
  margin: 5px;
}
.redButton {
  border-color: red;
  background-color: #f2f1e7;
  color: red;
}
.regularButton {
  border-color: black;
  background-color: #f2f1e7;
  color: black;
}
.whiteButton {
  border-color: white;
  background-color: white;
  color: black;
}
