.button {
  width: 150px;
  height: 44px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  border-width: thin;
}
.button--red {
  border-color: red;
  background-color: #f2f1e7;
  color: red;
}
.button--regular {
  border-color: black;
  background-color: #f2f1e7;
  color: black;
}
.button--white {
  border-color: white;
  background-color: white;
  color: black;
}
