.img-icon {
  padding: 10px;
}
.rotateimg-left {
  transform: rotate(180deg);
  height: 28px;
  width: 20px;
}
.rotateimg-bottom {
  transform: rotate(90deg);
  height: 28px;
  width: 20px;
}
.rotateimg-top {
  transform: rotate(270deg);
  height: 28px;
  width: 20px;
}
.rotateimg-right {
  transform: rotate(0deg);
  height: 28px;
  width: 20px;
}
