@use '../../scss/settings' as *;

.password-repeat {
  max-width: 304px;
  > p {
    @include font(18px, 22px, 800);
    text-transform: uppercase;
    font-family: Orqquidea;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__form {
    @include flex(column, flex-start, flex-end);

    &__fields {
      align-self: flex-start;
      @include flex(column, flex-start, flex-start);
      column-gap: 64px;
      row-gap: 50px;
      margin-bottom: 50px;
    }
  }
}
