.div-auction-item {
  margin: 30px;
  padding: 10px;
  color: var(--secondary);
  font-family: var(--font);
  font-size: 24px;
  width: fit-content;
  background-color: var(--primary);
}
.div-company-time-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paragraph-company-time {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}
