.icon {
  height: 24px;
  width: 18px;
}
.icon__left {
  transform: rotate(180deg);
}
.icon__bottom {
  transform: rotate(90deg);
}
.icon__top {
  transform: rotate(270deg);
}
.icon__right {
  transform: rotate(0deg);
}
