.background {
  font-family: var(--font);
  color: var(--primary);
  margin: 10px;
  display: grid;
}
.background-green {
  background: var(--secondary);
  max-width: 530px;
  min-height: 240px;
  display: grid;
  grid-template-columns: 1fr;
}
.background-pink {
  background: var(--softPink);
  max-width: 1020px;
  min-height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img-pink container-pink";
  align-items: center;
}
.heading {
  font-size: 36px;
  line-height: 40px;
  margin: 10px 10px 0px 0px;
}
.heading-title-green {
  padding-top: 26px;
}
.heading-title-pink {
  padding-top: 36px;
}
.paragraph-introductions {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
}
.img-pink {
  grid-area: "img-pink";
  height: 140px;
  max-width: 340px;
  margin-left: 80px;
  margin-right: 30px;
}
.img {
  border-bottom: 10px solid var(--secondary);
  width: 100%;
}
.container-green {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.container-pink {
  grid-area: "container-pink";
  margin-right: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.div-button {
  float: right;
  padding-top: 10px;
}
.div-button--green {
  padding-top: 30px;
}
@media (max-width: 860px) {
  .img-pink {
    display: none;
  }
  .background-pink {
    max-width: 530px;
    min-height: 240px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .heading-title-pink {
    padding-top: 26px;
  }
  .container-pink {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 400px) {
  .heading-title-green {
    padding-top: 20px;
  }
  .heading {
    line-height: 30px;
    font-size: 30px;
  }
  .background {
    float: center;
  }
}
