@use '../../scss/settings' as *;

.image-upload {
  > p {
    @include font(18px, 22px, 800);
    text-transform: uppercase;
    font-family: Orqquidea;
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 440px) {
  .image-upload {
    > p {
      @include font(14px, 16px, 800);
    }
  }
}
