h3 {
  padding: 5px;
  color: #00261c;
  font-family: "Bodoni 72";
  text-decoration: 4px solid #c9b1a9 underline;
  font-size: 36px;
  padding-top: 30px;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-right: 20px;
}
.about-paragraph-1 {
  margin-left: 100px;
  padding-right: 20px;
  padding-top: 30px;
  color: #00261c;
  font-family: "Bodoni 72";
  float: left;
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.img-right {
  float: right;
  margin-right: 100px;
}
.img-left {
  float: left;
  margin-left: 100px;
}
