body {
  background-color: #f2f1e7;
}

.header {
  font-family: "Orqquidea-Sans_(DEMO)";
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

#logo {
  height: 55px;
  width: 55px;
  margin: 5px 30px 5px 30px;
}
