.background {
  font-family: "Bodoni 72";
  color: #f2f1e7;
  margin: 10px;
}
.background-pink {
  background: #c9b1a9;
  height: 250px;
  width: 1020px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background-green {
  background: #00261c;
  height: 240px;
  width: 530px;
}
.img-pink {
  border-bottom: 10px solid #00261c;
  height: 140px;
  width: 340px;
  margin-left: 80px;
  margin-right: 60px;
  padding-top: 10px;
}
.heading {
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}
.heading-title-green {
  margin: 40px 10px 0px 40px;
  padding-top: 30px;
}
.heading-title-pink {
  margin: 10px 10px 0px 40px;
  padding-top: 0px;
}
.paragraph-introductions {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.div-button {
  float: right;
  margin-right: 0px;
}
.button-pink {
  padding-top: 10px;
}
.button-green {
  padding-top: 30px;
}
